body{
    background-color: black;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#heart {
    position: relative;
    width: 200px;
    height: 180px;
    z-index: 1;
    animation: beat 0.5s infinite
  }

  @keyframes beat {
      0%
      {
          transform: scale(.75);
      }
      100%{
          transform: scale(1);
      }
  }
  @keyframes beat2 {
    0%
    {
        transform: scale(.85);
    }
    100%{
        transform: scale(1);
    }
}
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 100px;
    top: 0;
    width: 100px;
    height: 160px;
    background: #c73a8c;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

  #heartBackground {
    position: absolute;
    width: 200px;
    height: 180px;
    z-index: 0;
    top: 38%;
    animation: beat2 0.5s infinite
  }
  #heartBackground:before,
  #heartBackground:after {
    position: absolute;
    content: "";
    left: 100px;
    top: -8px;
    width: 110px;
    height: 176px;
    background: white;
    border-radius: 65px 65px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heartBackground:after {
    left: -10px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }